body {
    font-family: sans-serif;
    margin: 0; /* Remove default top and bottom margins */
    padding: 0; /* Remove default top and bottom padding */
    height: 100vh; /* Set body height to 100% of viewport height */
    display: flex; /* Use flexbox for better layout control */
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    background-image: linear-gradient(to bottom right, #8a09e0, #9909e0, #a809e0, #b709e0, #c709e0, #d609e0, #e509e0, #f409e0, #ff09e0); 
    background-size: cover; /* Cover the entire viewport with the gradient */
}

.container {
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), 0 0 10px rgba(255, 255, 255, 0.2); 
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 30px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1); 
}

h2 {
    color: #007bff; 
    margin-top: 40px;
    border-bottom: 2px solid #007bff; 
    padding-bottom: 5px; 
}

h1, h2 {
    background-image: none; 
    color: #007bff; 
}

p {
    color: #555;
    line-height: 1.6;
    text-indent: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #0056b3; 
}